{% block visca_core_bootstrap_pagination_widget -%}
    {# numItemsPerPage #}
    {# pageCount #}
    {# current #}
    {# firstPageInRange #}
    {# lastPageInRange #}
    {% if pageCount > 1 %}
        <div class="bootstrap-pagination-widget">
            <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}" />
            <div class="table-pagination">
                <a href="#"><span class="icon-caret-right icon"></span>All my predictions</a>
                <ul class="pagination pagination-xs">
                    <li class="{{ previous is null ? 'disabled' }}"><a data-page="{{ previous }}" href="#"><span class="icon-caret-left"></span></a></li>
                    {% if firstPageInRange > 1 %}
                        <li class="disabled"><a href="#">…</a></li>
                    {% endif %}
                    {% for page in pagesInRange %}
                        <li class="{{ page == current ? 'active' }}"><a data-page="{{ page }}" href="#">{{ page }}</a></li>
                    {% endfor %}
                    {% if lastPageInRange < pageCount %}
                        <li class="disabled"><a href="#">…</a></li>
                    {% endif %}
                    <li class="{{ next is null ? 'disabled' }}"><a data-page="{{ next }}" href="#"><span class="icon-caret-right"></span></a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{%- endblock visca_core_bootstrap_pagination_widget %}
